<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Электронная библиотека</h1>
      <p class="lead text-muted">Добавляйте новые библиотеки, абонентов, книги, сотрудников в пару кликов!Записывайте выдачу книг и следите за датой сдачи.</p>
      <p>
      </p>
    </div>
  </section>
